<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "fallen.png" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Satan !</h1>
		<p>Welcome to the <b>heaven</b>.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum consequatur at architecto numquam libero totam laboriosam similique quasi nihil, ex dolores, eum, officia corporis accusantium iusto repudiandae reiciendis. Quos.</i></p>
	</div>
</div>